@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
.page-home {
    // .no-scroll .scroll-content {
    //     overflow: hidden;
    // }
    // [ion-fixed] {
    //     height: 100%;
    //     width: 100%;
    // }
    // .slide-zoom {
    //     height: 100%;
    // }this make toolbar in the top
    .toolbar-background {
        background: transparent;
        border-color: transparent;
    }
    .swiper-button-next,
    .swiper-button-prev {
        background-image: none;
        background-color: transparent;
        top: unset;
        bottom: -10px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ion-md-arrow-dropright,
    .ion-md-arrow-dropleft {
        font-size: 3em;
    }
    .swiper-pagination-bullet-active {
        background: white;
    }
    // .custom-slide {
    //     // padding: 16pt;
    //     // margin: unset;
    //     // margin-block-start: unset;
    //     // margin-block-end: unset;
    //     // margin-inline-start: unset;
    //     // margin-inline-end: unset;
    //     .title {
    //         // padding: 36pt;
    //         // margin: inherit;
    //     }
    //     .subtitle {
    //         // padding: 28pt;
    //         // margin: inherit;
    //     }
    //     .description {
    //         // padding: 16pt;
    //         // margin: inherit;
    //     }
    // }
}