<!--<ion-header>
    <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar> 
</ion-header>-->

<ion-content no-bounce>
    <!-- <div ion-fixed> -->
    <ion-slides *ngIf="onBoardingSlides" (ionSlideDidChange)="slideChanged()" effect="fade" speed="400" pager="true" paginationType="bullets" #slides>
        <!-- <ion-slide class="custom-slide" style="background-color:red; color:white;">
            <img src='https://via.placeholder.com/200' style="width: 100px; height: 100px;" />
            <h1>Welcome my friend!</h1>
            <h2>Stay a while and enjoy the coding challenge</h2>
            <p>This is the onboarding to the coding challenge of Neofonie Mobile. Enjoy implementing it and do not bother to ask questions.</p>
        </ion-slide>
        <ion-slide>
            <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide>
            <h1>Slide 3</h1>
        </ion-slide> -->

        <ion-slide *ngFor="let onBoardingSlide of onBoardingSlides" class="slide-container" [ngStyle]="{'background-color': '#'+onBoardingSlide.backgroundColor,'color':'#'+onBoardingSlide.contentColor}">
            <!-- <ion-toolbar [hidden]="!hasAction(onBoardingSlide.identifier)">
                <ion-buttons center>
                    <button (click)="openActionUrl(onBoardingSlide.identifier)" ion-button style="color:inherit">Action</button>
                </ion-buttons>
            </ion-toolbar> -->

            <img src="{{onBoardingSlide.icon}}" />
            <ion-buttons center [hidden]="!hasAction(onBoardingSlide.identifier)">
                <button (click)="openActionUrl(onBoardingSlide.identifier)" ion-button style="color:inherit">Action</button>
            </ion-buttons>
            <h1 class="slide-title">{{onBoardingSlide.title}}</h1>
            <h2 class="slide-subtitle">{{onBoardingSlide.subTitle}}</h2>
            <p class="slide-desc">{{onBoardingSlide.description}}</p>
        </ion-slide>

        <!-- <button type="submit" float-left ion-button color="primary" class="swiper-button-prev" (click)="prev()"></button>
        <button type="submit" float-right ion-button color="primary" class="swiper-button-next" (click)="next()"></button> -->
        <!-- <button type="submit" ion-button color="light" class="swiper-button-prev swiper-button-white" (click)="prevSlide()"></button>
        <button type="submit" ion-button icon-only color="light" class="swiper-button-next swiper-button-white" (click)="nextSlide()">
          <ion-icon name="md-arrow-dropright"></ion-icon>
        </button> -->

    </ion-slides>

    <button *ngIf="onBoardingSlides" [hidden]="isHidePrevButton" type="submit" ion-button icon-only class="swiper-button-prev" (click)="prevSlide()"> <ion-icon color="#f0f0f0"  name="md-arrow-dropleft"></ion-icon></button>
    <button *ngIf="onBoardingSlides" type="submit" ion-button icon-only class="swiper-button-next" (click)="nextSlide()"><ion-icon color="light" name="md-arrow-dropright"></ion-icon></button>
    <div class="centered-div" [hidden]="onBoardingSlides || errMsg">
        <ion-spinner></ion-spinner>
        <h4>Loading ..... please wait</h4>
    </div>
    <div class="centered-div" *ngIf="errMsg">
        <h2>Error</h2>
        <h4>{{errMsg}}</h4>
    </div>
    <!-- </div> -->
</ion-content>

<!-- [hidden]="slides.isBeginning()" -->