page-home {
    .swiper-button-next,
    .swiper-button-prev {
        background-image: none;
        background-color: transparent;
        top: unset;
        bottom: -10px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .ion-md-arrow-dropright,
    .ion-md-arrow-dropleft {
        font-size: 3em;
    }
    .swiper-pagination-bullet-active {
        background: white;
    }
}